# System files
.DS_Store
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
ehthumbs.db

# Temporary files
*.tmp
*.temp
*.bak
*.swp
*.old
*.log
*.out
*.dmp
*.stackdump
*.cache

# Build artifacts
*.o
*.obj
*.so
*.dll
*.exe
*.lib
*.a
*.la
*.lo
*.elf
*.hex
*.bin
*.map
*.lst
*.srec

# Python files
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env/
.venv/

# Node.js
node_modules/

# IDEs and editors
.idea/
.vscode/
.sublime-project.sublime-workspace

# CMake
CMakeFiles/
CMakeCache.txt
CMakeScripts/
CMakeTmp/
CMakeLists.txt.user
build/
dist/
toolchain/


# Miscellaneous
.gdb_history
.PVS-Studio/
openocd.log
.sconsign.dblite
external/
